<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.sadra.apps.season4java">

    <application
        android:name="app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".E01AndroidArchitectureActivity" />
        <activity android:name=".E02AndroidLifeCycleActivity" />
        <activity android:name=".E03AndroidUIControlsActivity" />
        <activity
            android:name=".E04AndroidHexColorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_e04_android_hex_colors"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".E05AndroidTextViewActivity" />
        <activity android:name=".E06AndroidButtonActivity" />
        <activity android:name=".E07AndroidEventHandling01" />
        <activity android:name=".E07AndroidEventHandling02" />
        <activity android:name=".E08AndroidEditText" />
        <activity android:name=".E08AndroidEditText2" />
        <activity android:name=".E09AndroidImageButton" />
        <activity android:name=".E10AndroidCheckBox" />
        <activity android:name=".E11AndroidRadioButton" />
        <activity android:name=".E12AndroidSwitch" />
        <activity android:name=".E13AndroidRatingBar" />
        <activity android:name=".E14AndroidProgressBar" />
        <activity android:name=".E15AndroidTimePicker" />
        <activity android:name=".E16AndroidDatePicker" />
        <activity android:name=".E17AndroidToggleButton"/>
        <activity android:name=".E18AndroidSeekBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>